<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmpA2013D0A0314254045687AD993E53AF0" Guid="{6FA0228A-D5D3-4096-B355-773830AEAC65}">
                <File Id="fil7E114F02F9C0E5A80B41E6039EDD1620" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\DigitalRune.Windows.TextEditor.dll" />
            </Component>
            <Component Id="cmp1385AEF0D53A7C65B9994AABC145CDF9" Guid="{2C79F1DE-6DC0-4D5A-BCE4-B01116E1031C}">
                <File Id="filBA5CC92761D8804C1446E1FED0A48506" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\DigitalRune.Windows.TextEditor.xml" />
            </Component>
            <Component Id="cmp499BB1787CF01BF919D7179ADE8270B5" Guid="{230D11A8-5406-405B-B072-7FC03A04F643}">
                <File Id="filBA16877C184226973F79E0BE6D824BF7" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\dotNetRDF.dll" />
            </Component>
            <Component Id="cmp33080E443B97CCC7C57777D2AE2BE4CB" Guid="{066CF0A4-4E3F-42EF-87DB-47AD35EAA5F4}">
                <File Id="filA0B5D098D7D3ADF32E43383219CE1C19" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\dotNetRDF.xml" />
            </Component>
            <Component Id="cmp3A7FE66590B965AA564111D06419262A" Guid="{7D069DA9-6FEB-4F17-8936-8E8758C81F0F}">
                <File Id="fil3265A25C80C43F457B6B0121C3889E90" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\HtmlAgilityPack.dll" />
            </Component>
            <Component Id="cmp23FF98671AE2E0308F9E97AA4E145B04" Guid="{F99ABCA1-9474-41AD-9EF9-6DB3BB8D6954}">
                <File Id="filF652CDE270A1510610B18674A2F37B8C" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\HtmlAgilityPack.pdb" />
            </Component>
            <Component Id="cmp656BEA6A18720172B52FC49DEC669933" Guid="{4F5A2D34-9D91-48FB-8A86-9D109173C5ED}">
                <File Id="filE4EF8302F6C8E9EB73C46AB01920FDDB" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\HtmlAgilityPack.xml" />
            </Component>
            <Component Id="cmp21892602E8EED841FC9D3096BEADD77E" Guid="{E9334B02-0B52-4BFA-BDF5-77EB92F042A5}">
                <File Id="fil2B59D656AC231A68E91DB21E172C6A3F" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\license.txt" />
            </Component>
            <Component Id="cmp1874AB219070404EED322213C6A1A49E" Guid="{82EB3451-D7A4-4474-88CD-B1FE28E96465}">
                <File Id="fil05FF769999D602AD4FA6A489C44ED290" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp03F5503D497D187BDDF7D932D5BD55E9" Guid="{EA51683B-0031-4BBA-B856-D45A018F14F1}">
                <File Id="fil094941A1CF7BE1998B69C59AF0F5D834" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp511D854943073DD3DA8575A71196A5EE" Guid="{4990F8CA-CB76-4545-A845-879C061649D6}">
                <File Id="fil8D5A1236A9E770B1EF106476CD09A414" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\OntologyParser.dll" />
            </Component>
            <Component Id="cmpCB40FE769240A7D7589B482988492A3A" Guid="{DD4FC4E5-7AE0-4B18-A7CF-D08F4EB58929}">
                <File Id="fil71C1A682BDA1D97BB6405758A3F186F7" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\OntologyParser.pdb" />
            </Component>
            <Component Id="cmp5BAF12410FE2BAC62BCC840C517FE19B" Guid="{C6751CE9-C21E-4A1A-88BB-54E8F4A95122}">
                <File Id="fil054B10BF302EA0C0413BE60322512910" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.Contracts.dll" />
            </Component>
            <Component Id="cmpFC06DC69494DC2D8B76C3789C0B93647" Guid="{88CDF525-741B-434D-B115-2CEC1EEA4053}">
                <File Id="fil335A31B1085571AD6B8A26F67AF54C11" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.Contracts.pdb" />
            </Component>
            <Component Id="cmp398CDE1614CFBC9BA203F92B2D8585C1" Guid="{C4FFEB2F-31EE-4F9D-ABBF-3B2E565234B3}">
                <File Id="filA0BEF8210E024A803C93B4278027E2A7" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.exe.config" />
            </Component>
            <Component Id="cmp9246E3737C7DE8717D439AFED823F90D" Guid="{714A7191-C0D4-457C-BC35-49F72BF877C6}">
                <File Id="fil8CE38E4682684D8B1895B3186AAD8C7D" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.pdb" />
            </Component>
            <Component Id="cmpFB830D1BEF10CB449B01CB6D09E5E8C8" Guid="{BD1876B7-19B9-441D-AD82-B6C2E1257E6C}">
                <File Id="fil73042B6A6613BF5F2DD2F33C52B77623" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.Settings.dll" />
            </Component>
            <Component Id="cmp71FD3D668E9A0FED659D531091E8F80F" Guid="{FE603681-BE1D-4E71-82F9-C160968AC6F8}">
                <File Id="fil9ADA07F49D04F8076D4589C108983D87" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.Settings.pdb" />
            </Component>
            <Component Id="cmp51A64D8BE970AF502AD88D3769EE167C" Guid="{0E0D5CA1-4106-4F46-B83F-5951070783C7}">
                <File Id="fil89159EE95B7EAE0E6577579A58B073A8" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\VDS.Common.dll" />
            </Component>
            <Component Id="cmpDCCFF5581B0169947DD28AE42006673E" Guid="{CE780B92-9E05-44E0-94A5-4C4F67508326}">
                <File Id="filFA1B130771CEED983AC5853B355866C4" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\VDS.Common.pdb" />
            </Component>
            <Component Id="cmp115EBE51A04263528F8E8128A657C557" Guid="{DC413594-4EAD-44A3-BCAF-D99107B00F96}">
                <File Id="fil196AD9107CE2F4DE6269C0A55AA8077E" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\VDS.Common.xml" />
            </Component>
            <Component Id="cmpF64D60E2A7A50FD6241ABDBE27E31F59" Guid="{2E9904D8-C1E7-473D-ABA5-87D8F9FC010E}">
                <File Id="filED0391668232DF3DEA5823C1D36F49AD" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmp40129634DAACB8625D06428F5E618FE6" Guid="{D494376F-5481-4E3F-845C-4B027C6041C6}">
                <File Id="fil0C21162CDD3B39A12246A512476BB478" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\WeifenLuo.WinFormsUI.Docking.pdb" />
            </Component>
            <Directory Id="dir76C8E03FCFCA3C8AE3F0246BFE06A815" Name="Ontologies">
                <Component Id="cmpEED9F28B31E25005439B6EF16C974D1F" Guid="{6B6EC15B-E06A-410D-A32C-F361B6EC825B}">
                    <File Id="fil3A7292A822C10691622C5CD98B8FF645" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\dbo.rdf.xml" />
                </Component>
                <Component Id="cmpE5B8606C26F8B4D1FC300484C7E59EE7" Guid="{6E60C5C3-64CC-4057-B3DA-2FC6A40CBE06}">
                    <File Id="fil77C8AB8CE9AC6FA183E986732E8E8C50" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\dcterms.ttl" />
                </Component>
                <Component Id="cmp2313F1BC70D659A7A9FC0D7EE2ACA2CF" Guid="{1B74206F-A5CD-47CF-BAD8-2680857700FD}">
                    <File Id="fil68F5020CECE9419B427E9B5D76310F77" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\foaf.rdf.xml" />
                </Component>
                <Component Id="cmp9106CD68EFFB3C0C92447584C0937519" Guid="{883662F6-16E6-4C10-9AD5-09D78521D1FF}">
                    <File Id="fil6DE931FD895E8CEB07B207C1CDC4FDCC" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\owl.ttl" />
                </Component>
                <Component Id="cmpD13D2274DC3CB211F8B7CA016471267F" Guid="{8677FCA2-D658-45E3-8C57-16890159AD8E}">
                    <File Id="fil0662F247481A50C5EF7C277EBA138FD5" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\rdf.rdf.xml" />
                </Component>
                <Component Id="cmpC3E2176ACD94262A7F5FCA39D712B5A1" Guid="{7E50A018-A859-4542-95A3-60419A4126B0}">
                    <File Id="fil6528D32BEA57D424BA95CA7EF259E165" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\recipe.ttl" />
                </Component>
                <Component Id="cmpADDC5953A7E484AC6A5809295254504E" Guid="{01814CDB-61B5-4C83-A51F-79BBCD50FF3F}">
                    <File Id="fil481AEE5646A5E16E8A13481CE62326AE" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\skos.rdf.xml" />
                </Component>
            </Directory>
            <Directory Id="dir4DCD35B63348E57DF6B9B63803E48B00" Name="SparqlAutoCompletion">
                <Component Id="cmpEC30F2EBF73991C9A357BA020B30C6B1" Guid="{FDA3EE24-3D3A-4C55-A40E-5CE8DEA17786}">
                    <File Id="fil774F246D23DFCB2ED0F64A29C84F63DE" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SparqlAutoCompletion\Keywords.txt" />
                </Component>
            </Directory>
            <Directory Id="dirC03742F27CD2A05C5A4713D7C0E54954" Name="SparqlSyntaxHighlighing">
                <Component Id="cmpC4133A33201936F83F6C8AACAAF0B5AE" Guid="{3F30A0AE-CC6E-4604-A078-12477D2853EA}">
                    <File Id="filFD965D14FDB57017D6D39A2012BE8A3A" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SparqlSyntaxHighlighing\Sparql-Mode.xshd" />
                </Component>
                <Component Id="cmp70645FB70872AEBC622E3B26777A1E62" Guid="{6E7F9368-8F14-40AB-8676-C62EC79B9DD0}">
                    <File Id="fil29DDF2F8934119AA7275A3F64B0D5E69" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SparqlSyntaxHighlighing\SyntaxMode.xml" />
                </Component>
            </Directory>
            <Directory Id="dir9D4104C4FF039D542EC89DB848CD5B37" Name="Tutorial">
                <Component Id="cmp3D853ACE1A3659F5BEC5F46F08D34B0E" Guid="{44FE9BC7-9EFE-4618-B892-0F2588DBE7DD}">
                    <File Id="filFF7B02AC493AAB44380D5C3B899DF491" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\000 - Introduction.sparql" />
                </Component>
                <Component Id="cmp682B7C5A34E535E5D40B4CD02F715F7B" Guid="{F19A98B2-29C4-4855-8D4A-647CA607357A}">
                    <File Id="fil4B2048B9845C576CD81F38E13B9D8F3B" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\001 - Namespaces and prefixes.sparql" />
                </Component>
                <Component Id="cmp3A6C168BB832F63A12C67F7135E97EE8" Guid="{CA93DF16-73CB-4E6C-B4E3-47729B5D7218}">
                    <File Id="fil545E9A0656F0244C60219ADCA29F9789" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\002 - Querying multiple triples.sparql" />
                </Component>
                <Component Id="cmp9AA68C785B1B68EC6C1F57A15A054C96" Guid="{3A395F3E-F275-4146-BE0E-4197370FBBFB}">
                    <File Id="fil7F5BDADAF8DD48FD00939C95E823EBC1" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\003 - About separators.sparql" />
                </Component>
                <Component Id="cmp8CFB40AA2A3AC743C33905F84476F868" Guid="{7D4E91CB-9DEC-4054-B92E-45DA2681EF7F}">
                    <File Id="fil7D4F16B67541EFEDC64B50F051A48304" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\004 - Limiting results.sparql" />
                </Component>
                <Component Id="cmp0422254EC4F10B302D0FA0C487D8DBEA" Guid="{5E021F2D-905C-478B-A170-3DFDDE7904B1}">
                    <File Id="filB41FB42C0064EB1F06CA84E780F3B0A3" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\005 - Finding out what URIs to use.sparql" />
                </Component>
                <Component Id="cmp59E5D557A24804A6A39B2E2DDD1072EB" Guid="{1F84A090-72E7-44D8-845B-64E4CEE61254}">
                    <File Id="filC5C98F391255D0382C9D10B07DC066AB" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\006 - Landlocked countries.sparql" />
                </Component>
                <Component Id="cmp12CB1031808CB29843C83589DFB886EB" Guid="{4B48F6F2-FFC3-4631-93F8-294157559EE8}">
                    <File Id="filDD8FAC754DF3016D0B09A11C6FADBF6E" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\007 - My name is Switzerland - and Schweitz, and Suisse, and Svizzera.sparql" />
                </Component>
                <Component Id="cmpC0535A5E2E130017DD489122D3F991B0" Guid="{33EFFBCA-4693-45F5-B155-92E2189CD092}">
                    <File Id="fil1391782EFA7F5ECA15100D454F90FA89" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\008 - The FILTER keyword - part 1.sparql" />
                </Component>
                <Component Id="cmp3CAAA38C37F6D0C3FD737BC13727C7DF" Guid="{DC6D1CCB-89AB-480C-8B7D-E0696EFDD436}">
                    <File Id="fil3240D43117C50AC50ECF9684FB13A501" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\009 - The FILTER keyword - part 2.sparql" />
                </Component>
                <Component Id="cmp0601E55D292BFE9451483F17489ABCA2" Guid="{04F84FAF-41F5-41A0-840A-D2D45A0D5D2D}">
                    <File Id="filD5E3CEBEAAA0DC1012A9EBE69A73E855" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\010 - The FILTER keyword - specifying data types.sparql" />
                </Component>
                <Component Id="cmpF147110D2475DC11217645632C33D74D" Guid="{2151F504-986C-4B61-80B5-CA638F11DB9F}">
                    <File Id="filA34D629C5B1F7C448D70279A1CCEC3A4" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\011 - Filtering for the presence or absence of a pattern.sparql" />
                </Component>
                <Component Id="cmp51F6F8EADDA54DDF2EB3096A15FB9811" Guid="{738401F5-0B10-4827-B2A0-97FB74762DB0}">
                    <File Id="filEB9244FA28BA23306A3F8F3717447927" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\011b- The MINUS keyword.sparql" />
                </Component>
                <Component Id="cmp9EB119CE9AB8536AD88C69B75F3CBE00" Guid="{03C980AA-0BB1-4681-98C8-6BE67367D608}">
                    <File Id="filF0E552EC49D66E5FF28C65E0F4DE1E6F" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\012 - Inner FILTERs.sparql" />
                </Component>
                <Component Id="cmp5ADACA4F3908A176BAE94A5F40061056" Guid="{C81D3C1B-ECF6-4F32-A16A-77C96E86D2A5}">
                    <File Id="filF9FE50752CA037005195AA608695B62F" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\013 - Including optional values.sparql" />
                </Component>
                <Component Id="cmp0AD9AB37AACC4ECB530A6F685A014542" Guid="{99EAA80B-FFB5-4FD8-B5D2-72B2EA38A325}">
                    <File Id="fil4A3B551C911121D5FAB07A1E7AFFAB62" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\014 - Combining patterns with the UNION keyword.sparql" />
                </Component>
                <Component Id="cmp702FCC549E8E12F51EFC21CEA19FB498" Guid="{F976BD55-6A24-44A6-B903-CADC63AF0068}">
                    <File Id="filE1297604D1F314B215B36A0352CCB789" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\020 - The rdf_type predicate and the a keyword.sparql" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SparqlStudio.CoreFiles">
            <ComponentRef Id="cmpA2013D0A0314254045687AD993E53AF0" />
            <ComponentRef Id="cmp1385AEF0D53A7C65B9994AABC145CDF9" />
            <ComponentRef Id="cmp499BB1787CF01BF919D7179ADE8270B5" />
            <ComponentRef Id="cmp33080E443B97CCC7C57777D2AE2BE4CB" />
            <ComponentRef Id="cmp3A7FE66590B965AA564111D06419262A" />
            <ComponentRef Id="cmp23FF98671AE2E0308F9E97AA4E145B04" />
            <ComponentRef Id="cmp656BEA6A18720172B52FC49DEC669933" />
            <ComponentRef Id="cmp21892602E8EED841FC9D3096BEADD77E" />
            <ComponentRef Id="cmp1874AB219070404EED322213C6A1A49E" />
            <ComponentRef Id="cmp03F5503D497D187BDDF7D932D5BD55E9" />
            <ComponentRef Id="cmp511D854943073DD3DA8575A71196A5EE" />
            <ComponentRef Id="cmpCB40FE769240A7D7589B482988492A3A" />
            <ComponentRef Id="cmp5BAF12410FE2BAC62BCC840C517FE19B" />
            <ComponentRef Id="cmpFC06DC69494DC2D8B76C3789C0B93647" />
            <ComponentRef Id="cmp398CDE1614CFBC9BA203F92B2D8585C1" />
            <ComponentRef Id="cmp9246E3737C7DE8717D439AFED823F90D" />
            <ComponentRef Id="cmpFB830D1BEF10CB449B01CB6D09E5E8C8" />
            <ComponentRef Id="cmp71FD3D668E9A0FED659D531091E8F80F" />
            <ComponentRef Id="cmp51A64D8BE970AF502AD88D3769EE167C" />
            <ComponentRef Id="cmpDCCFF5581B0169947DD28AE42006673E" />
            <ComponentRef Id="cmp115EBE51A04263528F8E8128A657C557" />
            <ComponentRef Id="cmpF64D60E2A7A50FD6241ABDBE27E31F59" />
            <ComponentRef Id="cmp40129634DAACB8625D06428F5E618FE6" />
            <ComponentRef Id="cmpEED9F28B31E25005439B6EF16C974D1F" />
            <ComponentRef Id="cmpE5B8606C26F8B4D1FC300484C7E59EE7" />
            <ComponentRef Id="cmp2313F1BC70D659A7A9FC0D7EE2ACA2CF" />
            <ComponentRef Id="cmp9106CD68EFFB3C0C92447584C0937519" />
            <ComponentRef Id="cmpD13D2274DC3CB211F8B7CA016471267F" />
            <ComponentRef Id="cmpC3E2176ACD94262A7F5FCA39D712B5A1" />
            <ComponentRef Id="cmpADDC5953A7E484AC6A5809295254504E" />
            <ComponentRef Id="cmpEC30F2EBF73991C9A357BA020B30C6B1" />
            <ComponentRef Id="cmpC4133A33201936F83F6C8AACAAF0B5AE" />
            <ComponentRef Id="cmp70645FB70872AEBC622E3B26777A1E62" />
            <ComponentRef Id="cmp3D853ACE1A3659F5BEC5F46F08D34B0E" />
            <ComponentRef Id="cmp682B7C5A34E535E5D40B4CD02F715F7B" />
            <ComponentRef Id="cmp3A6C168BB832F63A12C67F7135E97EE8" />
            <ComponentRef Id="cmp9AA68C785B1B68EC6C1F57A15A054C96" />
            <ComponentRef Id="cmp8CFB40AA2A3AC743C33905F84476F868" />
            <ComponentRef Id="cmp0422254EC4F10B302D0FA0C487D8DBEA" />
            <ComponentRef Id="cmp59E5D557A24804A6A39B2E2DDD1072EB" />
            <ComponentRef Id="cmp12CB1031808CB29843C83589DFB886EB" />
            <ComponentRef Id="cmpC0535A5E2E130017DD489122D3F991B0" />
            <ComponentRef Id="cmp3CAAA38C37F6D0C3FD737BC13727C7DF" />
            <ComponentRef Id="cmp0601E55D292BFE9451483F17489ABCA2" />
            <ComponentRef Id="cmpF147110D2475DC11217645632C33D74D" />
            <ComponentRef Id="cmp51F6F8EADDA54DDF2EB3096A15FB9811" />
            <ComponentRef Id="cmp9EB119CE9AB8536AD88C69B75F3CBE00" />
            <ComponentRef Id="cmp5ADACA4F3908A176BAE94A5F40061056" />
            <ComponentRef Id="cmp0AD9AB37AACC4ECB530A6F685A014542" />
            <ComponentRef Id="cmp702FCC549E8E12F51EFC21CEA19FB498" />
        </ComponentGroup>
    </Fragment>
</Wix>