<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmpA2013D0A0314254045687AD993E53AF0" Guid="{F2E82B47-EF9E-489A-9E46-5A5E2BF95BB1}">
                <File Id="fil7E114F02F9C0E5A80B41E6039EDD1620" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\DigitalRune.Windows.TextEditor.dll" />
            </Component>
            <Component Id="cmp1385AEF0D53A7C65B9994AABC145CDF9" Guid="{018EED58-A617-4539-8341-0DF7EABDD28C}">
                <File Id="filBA5CC92761D8804C1446E1FED0A48506" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\DigitalRune.Windows.TextEditor.xml" />
            </Component>
            <Component Id="cmp499BB1787CF01BF919D7179ADE8270B5" Guid="{40673087-0045-4469-AF82-1495B774268A}">
                <File Id="filBA16877C184226973F79E0BE6D824BF7" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\dotNetRDF.dll" />
            </Component>
            <Component Id="cmp33080E443B97CCC7C57777D2AE2BE4CB" Guid="{22F7E3F1-CC77-44B1-B417-F372B336E338}">
                <File Id="filA0B5D098D7D3ADF32E43383219CE1C19" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\dotNetRDF.xml" />
            </Component>
            <Component Id="cmp3A7FE66590B965AA564111D06419262A" Guid="{36B6555D-4AAE-4C24-ADB4-7CC24BCB1BC2}">
                <File Id="fil3265A25C80C43F457B6B0121C3889E90" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\HtmlAgilityPack.dll" />
            </Component>
            <Component Id="cmp23FF98671AE2E0308F9E97AA4E145B04" Guid="{A365501F-72FC-4EBE-9E52-567C9D40F6FF}">
                <File Id="filF652CDE270A1510610B18674A2F37B8C" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\HtmlAgilityPack.pdb" />
            </Component>
            <Component Id="cmp656BEA6A18720172B52FC49DEC669933" Guid="{389076D5-666E-4B5B-947C-85323E384553}">
                <File Id="filE4EF8302F6C8E9EB73C46AB01920FDDB" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\HtmlAgilityPack.xml" />
            </Component>
            <Component Id="cmp21892602E8EED841FC9D3096BEADD77E" Guid="{78341221-9690-4CB1-A8FD-DDDA5E029B65}">
                <File Id="fil2B59D656AC231A68E91DB21E172C6A3F" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\license.txt" />
            </Component>
            <Component Id="cmp1874AB219070404EED322213C6A1A49E" Guid="{B7FBE69F-FF9C-41BA-BBF2-689D44B91B85}">
                <File Id="fil05FF769999D602AD4FA6A489C44ED290" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp03F5503D497D187BDDF7D932D5BD55E9" Guid="{732F28D0-FE7E-45D2-A21B-74B56EC558EE}">
                <File Id="fil094941A1CF7BE1998B69C59AF0F5D834" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp511D854943073DD3DA8575A71196A5EE" Guid="{A8A51C01-45F2-4090-9D41-E7B70C092B78}">
                <File Id="fil8D5A1236A9E770B1EF106476CD09A414" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\OntologyParser.dll" />
            </Component>
            <Component Id="cmp8517FABE3594244641D65AD7ECC3B509" Guid="{AD891819-099B-4751-B6E0-DE7714F37A6C}">
                <File Id="fil85DA59C817DE0FAF39546252997C2D65" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\OntologyParser.dll.config" />
            </Component>
            <Component Id="cmpCB40FE769240A7D7589B482988492A3A" Guid="{DBF5CADC-13AE-4132-AD1D-50071DB256FA}">
                <File Id="fil71C1A682BDA1D97BB6405758A3F186F7" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\OntologyParser.pdb" />
            </Component>
            <Component Id="cmp5BAF12410FE2BAC62BCC840C517FE19B" Guid="{EB9DDB5C-B6F5-4FED-ABE7-A62081C5C52A}">
                <File Id="fil054B10BF302EA0C0413BE60322512910" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.Contracts.dll" />
            </Component>
            <Component Id="cmp5A54DC228F2CE9A8FCB80D6234B49F87" Guid="{7C0EF2FA-CE27-41DD-9BDB-ECF8DBED6E9D}">
                <File Id="fil32FE6A6C2F3B8B6CEDC0F43C277456C5" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.Contracts.dll.config" />
            </Component>
            <Component Id="cmpFC06DC69494DC2D8B76C3789C0B93647" Guid="{4B1976B6-5410-49E3-96B4-D1B47887E355}">
                <File Id="fil335A31B1085571AD6B8A26F67AF54C11" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.Contracts.pdb" />
            </Component>
            <Component Id="cmp398CDE1614CFBC9BA203F92B2D8585C1" Guid="{E59B409C-B6CD-4C06-A713-B8CE91105024}">
                <File Id="filA0BEF8210E024A803C93B4278027E2A7" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.exe.config" />
            </Component>
            <Component Id="cmp9246E3737C7DE8717D439AFED823F90D" Guid="{15C66925-4463-4700-B87F-657DC8ED3CD5}">
                <File Id="fil8CE38E4682684D8B1895B3186AAD8C7D" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.pdb" />
            </Component>
            <Component Id="cmpFB830D1BEF10CB449B01CB6D09E5E8C8" Guid="{BF73B783-FDC7-4355-8E2A-FCC1C5210AA1}">
                <File Id="fil73042B6A6613BF5F2DD2F33C52B77623" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.Settings.dll" />
            </Component>
            <Component Id="cmp71FD3D668E9A0FED659D531091E8F80F" Guid="{E85FABC3-4F4E-4AD6-9CD7-A8A83808FD8D}">
                <File Id="fil9ADA07F49D04F8076D4589C108983D87" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SPARQL_Studio.Settings.pdb" />
            </Component>
            <Component Id="cmp51A64D8BE970AF502AD88D3769EE167C" Guid="{7DA0B327-B70A-4E40-B48C-326432E31A45}">
                <File Id="fil89159EE95B7EAE0E6577579A58B073A8" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\VDS.Common.dll" />
            </Component>
            <Component Id="cmpDCCFF5581B0169947DD28AE42006673E" Guid="{CB4AA37D-A89E-473F-BDA0-FC10CBE89B77}">
                <File Id="filFA1B130771CEED983AC5853B355866C4" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\VDS.Common.pdb" />
            </Component>
            <Component Id="cmp115EBE51A04263528F8E8128A657C557" Guid="{FA7C1F78-7106-4855-BF54-8B4948375A48}">
                <File Id="fil196AD9107CE2F4DE6269C0A55AA8077E" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\VDS.Common.xml" />
            </Component>
            <Component Id="cmpF64D60E2A7A50FD6241ABDBE27E31F59" Guid="{28BC09CD-3655-4885-A88B-A010D15AC23D}">
                <File Id="filED0391668232DF3DEA5823C1D36F49AD" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmp40129634DAACB8625D06428F5E618FE6" Guid="{FA1878CF-AF90-45E5-BB2F-63DFB8C102EF}">
                <File Id="fil0C21162CDD3B39A12246A512476BB478" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\WeifenLuo.WinFormsUI.Docking.pdb" />
            </Component>
            <Directory Id="dir76C8E03FCFCA3C8AE3F0246BFE06A815" Name="Ontologies">
                <Component Id="cmpEED9F28B31E25005439B6EF16C974D1F" Guid="{B813889B-045F-4CB1-8BFB-EC3CD11D34C4}">
                    <File Id="fil3A7292A822C10691622C5CD98B8FF645" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\dbo.rdf.xml" />
                </Component>
                <Component Id="cmpE5B8606C26F8B4D1FC300484C7E59EE7" Guid="{DFFB6FD6-F315-42B0-B350-DA0301FC61DC}">
                    <File Id="fil77C8AB8CE9AC6FA183E986732E8E8C50" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\dcterms.ttl" />
                </Component>
                <Component Id="cmp2313F1BC70D659A7A9FC0D7EE2ACA2CF" Guid="{2E11950C-C5D8-4FEC-B9A6-9090DF7E3887}">
                    <File Id="fil68F5020CECE9419B427E9B5D76310F77" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\foaf.rdf.xml" />
                </Component>
                <Component Id="cmp9106CD68EFFB3C0C92447584C0937519" Guid="{5B516978-7CBB-473E-BA6D-286018194EEE}">
                    <File Id="fil6DE931FD895E8CEB07B207C1CDC4FDCC" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\owl.ttl" />
                </Component>
                <Component Id="cmpD13D2274DC3CB211F8B7CA016471267F" Guid="{56A9FD32-F207-4624-A8C2-69E56E79167B}">
                    <File Id="fil0662F247481A50C5EF7C277EBA138FD5" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\rdf.rdf.xml" />
                </Component>
                <Component Id="cmpC3E2176ACD94262A7F5FCA39D712B5A1" Guid="{2BD752B3-81D2-45B9-B098-3FB5BF36ACA6}">
                    <File Id="fil6528D32BEA57D424BA95CA7EF259E165" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\recipe.ttl" />
                </Component>
                <Component Id="cmpADDC5953A7E484AC6A5809295254504E" Guid="{50ADEA61-7EE3-49D5-A4A5-E426490F5B27}">
                    <File Id="fil481AEE5646A5E16E8A13481CE62326AE" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Ontologies\skos.rdf.xml" />
                </Component>
            </Directory>
            <Directory Id="dir4DCD35B63348E57DF6B9B63803E48B00" Name="SparqlAutoCompletion">
                <Component Id="cmpEC30F2EBF73991C9A357BA020B30C6B1" Guid="{F29BED66-A88B-4E04-B616-BE45451D8754}">
                    <File Id="fil774F246D23DFCB2ED0F64A29C84F63DE" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SparqlAutoCompletion\Keywords.txt" />
                </Component>
            </Directory>
            <Directory Id="dirC03742F27CD2A05C5A4713D7C0E54954" Name="SparqlSyntaxHighlighing">
                <Component Id="cmpC4133A33201936F83F6C8AACAAF0B5AE" Guid="{4189AD3E-3FCA-4430-8A60-F1C31BA9BF78}">
                    <File Id="filFD965D14FDB57017D6D39A2012BE8A3A" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SparqlSyntaxHighlighing\Sparql-Mode.xshd" />
                </Component>
                <Component Id="cmp70645FB70872AEBC622E3B26777A1E62" Guid="{78B7AC3B-8C89-4C9B-90E1-D5549B6106DB}">
                    <File Id="fil29DDF2F8934119AA7275A3F64B0D5E69" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\SparqlSyntaxHighlighing\SyntaxMode.xml" />
                </Component>
            </Directory>
            <Directory Id="dir9D4104C4FF039D542EC89DB848CD5B37" Name="Tutorial">
                <Component Id="cmp3D853ACE1A3659F5BEC5F46F08D34B0E" Guid="{24DC7D5F-6F9D-4A0A-AC32-29E081C9F62F}">
                    <File Id="filFF7B02AC493AAB44380D5C3B899DF491" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\000 - Introduction.sparql" />
                </Component>
                <Component Id="cmp682B7C5A34E535E5D40B4CD02F715F7B" Guid="{33F71609-A5FB-4B75-B0A7-7FAEA06265C1}">
                    <File Id="fil4B2048B9845C576CD81F38E13B9D8F3B" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\001 - Namespaces and prefixes.sparql" />
                </Component>
                <Component Id="cmp3A6C168BB832F63A12C67F7135E97EE8" Guid="{A84CB9C3-95AC-4BBC-9433-A652CC771EC5}">
                    <File Id="fil545E9A0656F0244C60219ADCA29F9789" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\002 - Querying multiple triples.sparql" />
                </Component>
                <Component Id="cmp9AA68C785B1B68EC6C1F57A15A054C96" Guid="{DF1A8496-6699-474B-BC70-C19F430EF95B}">
                    <File Id="fil7F5BDADAF8DD48FD00939C95E823EBC1" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\003 - About separators.sparql" />
                </Component>
                <Component Id="cmp8CFB40AA2A3AC743C33905F84476F868" Guid="{2A675902-A17E-45D8-A337-788F0463D01F}">
                    <File Id="fil7D4F16B67541EFEDC64B50F051A48304" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\004 - Limiting results.sparql" />
                </Component>
                <Component Id="cmp0422254EC4F10B302D0FA0C487D8DBEA" Guid="{C1572FDB-E91F-4F72-87FB-8811F0F22A03}">
                    <File Id="filB41FB42C0064EB1F06CA84E780F3B0A3" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\005 - Finding out what URIs to use.sparql" />
                </Component>
                <Component Id="cmp59E5D557A24804A6A39B2E2DDD1072EB" Guid="{E91B2819-0955-4006-AF28-C32EFBA96718}">
                    <File Id="filC5C98F391255D0382C9D10B07DC066AB" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\006 - Landlocked countries.sparql" />
                </Component>
                <Component Id="cmp12CB1031808CB29843C83589DFB886EB" Guid="{A4FAB775-83FE-4185-843C-A866BFB56DAB}">
                    <File Id="filDD8FAC754DF3016D0B09A11C6FADBF6E" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\007 - My name is Switzerland - and Schweitz, and Suisse, and Svizzera.sparql" />
                </Component>
                <Component Id="cmpC0535A5E2E130017DD489122D3F991B0" Guid="{69113D05-1EAB-4557-B442-B3FEF3134FDE}">
                    <File Id="fil1391782EFA7F5ECA15100D454F90FA89" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\008 - The FILTER keyword - part 1.sparql" />
                </Component>
                <Component Id="cmp3CAAA38C37F6D0C3FD737BC13727C7DF" Guid="{F690A977-F005-4265-8B4A-DD5F41592E46}">
                    <File Id="fil3240D43117C50AC50ECF9684FB13A501" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\009 - The FILTER keyword - part 2.sparql" />
                </Component>
                <Component Id="cmp0601E55D292BFE9451483F17489ABCA2" Guid="{2A74CF00-BB25-45D9-A679-0914DA24D50B}">
                    <File Id="filD5E3CEBEAAA0DC1012A9EBE69A73E855" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\010 - The FILTER keyword - specifying data types.sparql" />
                </Component>
                <Component Id="cmpF147110D2475DC11217645632C33D74D" Guid="{F65487B2-6D2D-41A9-9384-EAB9868F7D87}">
                    <File Id="filA34D629C5B1F7C448D70279A1CCEC3A4" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\011 - Filtering for the presence or absence of a pattern.sparql" />
                </Component>
                <Component Id="cmp51F6F8EADDA54DDF2EB3096A15FB9811" Guid="{9AAA77D1-20C5-432A-AC2C-2AD29CC56E30}">
                    <File Id="filEB9244FA28BA23306A3F8F3717447927" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\011b- The MINUS keyword.sparql" />
                </Component>
                <Component Id="cmp9EB119CE9AB8536AD88C69B75F3CBE00" Guid="{B71356D4-27C1-49BA-9FE2-C9F054656B71}">
                    <File Id="filF0E552EC49D66E5FF28C65E0F4DE1E6F" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\012 - Inner FILTERs.sparql" />
                </Component>
                <Component Id="cmp5ADACA4F3908A176BAE94A5F40061056" Guid="{38A0C536-13C2-40CD-9DD8-2A0FC2E423CD}">
                    <File Id="filF9FE50752CA037005195AA608695B62F" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\013 - Including optional values.sparql" />
                </Component>
                <Component Id="cmp0AD9AB37AACC4ECB530A6F685A014542" Guid="{8F54C8A4-5918-4AB9-9283-2CC3E9FEDD53}">
                    <File Id="fil4A3B551C911121D5FAB07A1E7AFFAB62" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\014 - Combining patterns with the UNION keyword.sparql" />
                </Component>
                <Component Id="cmp702FCC549E8E12F51EFC21CEA19FB498" Guid="{741C4266-6CA9-4F59-AB4F-527111E2B64A}">
                    <File Id="filE1297604D1F314B215B36A0352CCB789" KeyPath="yes" Source="$(var.SPARQL_Studio.TargetDir)\Tutorial\020 - The rdf_type predicate and the a keyword.sparql" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SparqlStudio.CoreFiles">
            <ComponentRef Id="cmpA2013D0A0314254045687AD993E53AF0" />
            <ComponentRef Id="cmp1385AEF0D53A7C65B9994AABC145CDF9" />
            <ComponentRef Id="cmp499BB1787CF01BF919D7179ADE8270B5" />
            <ComponentRef Id="cmp33080E443B97CCC7C57777D2AE2BE4CB" />
            <ComponentRef Id="cmp3A7FE66590B965AA564111D06419262A" />
            <ComponentRef Id="cmp23FF98671AE2E0308F9E97AA4E145B04" />
            <ComponentRef Id="cmp656BEA6A18720172B52FC49DEC669933" />
            <ComponentRef Id="cmp21892602E8EED841FC9D3096BEADD77E" />
            <ComponentRef Id="cmp1874AB219070404EED322213C6A1A49E" />
            <ComponentRef Id="cmp03F5503D497D187BDDF7D932D5BD55E9" />
            <ComponentRef Id="cmp511D854943073DD3DA8575A71196A5EE" />
            <ComponentRef Id="cmp8517FABE3594244641D65AD7ECC3B509" />
            <ComponentRef Id="cmpCB40FE769240A7D7589B482988492A3A" />
            <ComponentRef Id="cmp5BAF12410FE2BAC62BCC840C517FE19B" />
            <ComponentRef Id="cmp5A54DC228F2CE9A8FCB80D6234B49F87" />
            <ComponentRef Id="cmpFC06DC69494DC2D8B76C3789C0B93647" />
            <ComponentRef Id="cmp398CDE1614CFBC9BA203F92B2D8585C1" />
            <ComponentRef Id="cmp9246E3737C7DE8717D439AFED823F90D" />
            <ComponentRef Id="cmpFB830D1BEF10CB449B01CB6D09E5E8C8" />
            <ComponentRef Id="cmp71FD3D668E9A0FED659D531091E8F80F" />
            <ComponentRef Id="cmp51A64D8BE970AF502AD88D3769EE167C" />
            <ComponentRef Id="cmpDCCFF5581B0169947DD28AE42006673E" />
            <ComponentRef Id="cmp115EBE51A04263528F8E8128A657C557" />
            <ComponentRef Id="cmpF64D60E2A7A50FD6241ABDBE27E31F59" />
            <ComponentRef Id="cmp40129634DAACB8625D06428F5E618FE6" />
            <ComponentRef Id="cmpEED9F28B31E25005439B6EF16C974D1F" />
            <ComponentRef Id="cmpE5B8606C26F8B4D1FC300484C7E59EE7" />
            <ComponentRef Id="cmp2313F1BC70D659A7A9FC0D7EE2ACA2CF" />
            <ComponentRef Id="cmp9106CD68EFFB3C0C92447584C0937519" />
            <ComponentRef Id="cmpD13D2274DC3CB211F8B7CA016471267F" />
            <ComponentRef Id="cmpC3E2176ACD94262A7F5FCA39D712B5A1" />
            <ComponentRef Id="cmpADDC5953A7E484AC6A5809295254504E" />
            <ComponentRef Id="cmpEC30F2EBF73991C9A357BA020B30C6B1" />
            <ComponentRef Id="cmpC4133A33201936F83F6C8AACAAF0B5AE" />
            <ComponentRef Id="cmp70645FB70872AEBC622E3B26777A1E62" />
            <ComponentRef Id="cmp3D853ACE1A3659F5BEC5F46F08D34B0E" />
            <ComponentRef Id="cmp682B7C5A34E535E5D40B4CD02F715F7B" />
            <ComponentRef Id="cmp3A6C168BB832F63A12C67F7135E97EE8" />
            <ComponentRef Id="cmp9AA68C785B1B68EC6C1F57A15A054C96" />
            <ComponentRef Id="cmp8CFB40AA2A3AC743C33905F84476F868" />
            <ComponentRef Id="cmp0422254EC4F10B302D0FA0C487D8DBEA" />
            <ComponentRef Id="cmp59E5D557A24804A6A39B2E2DDD1072EB" />
            <ComponentRef Id="cmp12CB1031808CB29843C83589DFB886EB" />
            <ComponentRef Id="cmpC0535A5E2E130017DD489122D3F991B0" />
            <ComponentRef Id="cmp3CAAA38C37F6D0C3FD737BC13727C7DF" />
            <ComponentRef Id="cmp0601E55D292BFE9451483F17489ABCA2" />
            <ComponentRef Id="cmpF147110D2475DC11217645632C33D74D" />
            <ComponentRef Id="cmp51F6F8EADDA54DDF2EB3096A15FB9811" />
            <ComponentRef Id="cmp9EB119CE9AB8536AD88C69B75F3CBE00" />
            <ComponentRef Id="cmp5ADACA4F3908A176BAE94A5F40061056" />
            <ComponentRef Id="cmp0AD9AB37AACC4ECB530A6F685A014542" />
            <ComponentRef Id="cmp702FCC549E8E12F51EFC21CEA19FB498" />
        </ComponentGroup>
    </Fragment>
</Wix>