<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="endpointConfiguration" type="dk.ModularSystems.Sparql.Settings.EndpointConfigurationSettings,SPARQL_Studio.Settings"></section>
        <section name="namespaceConfiguration" type="dk.ModularSystems.Sparql.Settings.NamespaceConfigurationSettings,SPARQL_Studio.Settings"></section>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

    <endpointConfiguration>
        <endpoints>
            <endpoint name="DbPedia" uri="http://dbpedia.org/sparql" description="DbPedia is a structured version of the Wikipedia" shortList="true"/>
            <endpoint name="Sparql.org" uri="http://www.sparql.org/sparql" description="Generic SPARQL endpoint at sparql.org" shortList="true"/>
            <endpoint name="DbPedia Live" uri="http://dbpedia-live.openlinksw.com/sparql/" description="DbPedia Live contains less polished but more current data than DbPedia" shortList="true"/>
        </endpoints>
    </endpointConfiguration>

    <namespaceConfiguration>
        <namespaces>
            <namespace name="rdf" uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaPath="Ontologies/rdf.rdf.xml" description="The RDF Schema vocabulary" autoPrefix="true" autoComplete="true" />
            <namespace name="rdfs" uri="http://www.w3.org/2000/01/rdf-schema#" schemaPath="Ontologies/rdf.rdf.xml" description="The RDF Schema vocabulary (RDFS)" autoPrefix="true" autoComplete="false" />
            <namespace name="dbo" uri="http://dbpedia.org/ontology/" schemaPath="Ontologies/dbo.rdf.xml" description="DbPedia ontology" autoPrefix="true" autoComplete="true" />
            <namespace name="dbprop" uri="http://dbpedia.org/property/" schemaPath="" description="DbPedia properties" autoPrefix="true" autoComplete="false" />
            <namespace name="dcterms" uri="http://purl.org/dc/terms/" schemaPath="Ontologies/dcterms.ttl" description="DCMI Metadata Terms" autoPrefix="true" autoComplete="true" />
            <namespace name="foaf" uri="http://xmlns.com/foaf/0.1/" schemaPath="Ontologies/foaf.rdf.xml" description="Friend Of A Frien (FOAF) formal vocabulary description" autoPrefix="true" autoComplete="true" />
            <namespace name="owl" uri="http://www.w3.org/2002/07/owl#" schemaPath="Ontologies/owl.ttl" description="The OWL 2 Schema vocabulary" autoPrefix="true" autoComplete="true" />
            <namespace name="skos" uri="http://www.w3.org/2004/02/skos/core#" schemaPath="Ontologies/skos.rdf.xml" description="An RDF vocabulary for describing the basic structure and content of concept schemes such as thesauri, classification schemes, subject heading lists, taxonomies, etc." autoPrefix="true" autoComplete="true" />
        </namespaces>
    </namespaceConfiguration>
</configuration>
